<div class="container">
  <header>
    <h1>Calculadora</h1>
  </header>

  <section>
    <div class="containerCalculator">
      <div class="valueDisplay">
        <h1>34,90</h1>
      </div>

      <div class="containeirNumbers">
        <div class="btnOperations">
          <button class="btnNumberValueOnTop">
            C
          </button>
        </div>

        <div class="btnOperations">
          <button class="btnNumberValueOnTop">
            ±
          </button>
        </div>

        <div class="btnOperations">
          <button class="btnNumberValueOnTop">
            %
          </button>
        </div>

        <div class="btnOperations ">
          <button class="btnColorSimpleNumber ">
            ÷
          </button>
        </div>
      </div>

      <div class="containeirNumbers">
        <div class="btnOperations">
          <button class="btnNumberValue">
            7
          </button>
        </div>

        <div class="btnOperations">
          <button class="btnNumberValue">
            8
          </button>
        </div>

        <div class="btnOperations">
          <button class="btnNumberValue">
            9
          </button>
        </div>

        <div class="btnOperations ">
          <button class="btnColorSimpleNumber ">
            X
          </button>
        </div>
      </div>

      <div class="containeirNumbers">
        <div class="btnOperations">
          <button class="btnNumberValue">
            4
          </button>
        </div>

        <div class="btnOperations">
          <button class="btnNumberValue">
            5
          </button>
        </div>

        <div class="btnOperations">
          <button class="btnNumberValue">
            6
          </button>
        </div>

        <div class="btnOperations ">
          <button class="btnColorSimpleNumber ">
            -
          </button>
        </div>
      </div>

      <div class="containeirNumbers">
        <div class="btnOperations">
          <button class="btnNumberValue">
            1
          </button>
        </div>

        <div class="btnOperations">
          <button class="btnNumberValue">
            2
          </button>
        </div>

        <div class="btnOperations">
          <button class="btnNumberValue">
            3
          </button>
        </div>

        <div class="btnOperations ">
          <button class="btnColorSimpleNumber ">
            +
          </button>
        </div>
      </div>

      <div class="containeirNumbers">
        <div class="btnOperations">
          <button class="btnNumberValueZero">
            0
          </button>
        </div>

        <div class="btnOperations">
          <button class="btnNumberValue">
            .
          </button>
        </div>

        <div class="btnOperations ">
          <button class="btnColorSimpleNumber ">
            =
          </button>
        </div>
      </div>

      <small>Criado por <a href="https://linktr.ee/CarolinaCedro" target="_blank">Carolina Cedro</a>💜</small>


    </div>
  </section>
</div>